body { font-family: 'Fira Mono', monospace; background: #f7f7f7; color: #424242; }
hr { border: 0; margin: 0; height: 1px; background: rgba(0, 0, 0, 0.1); }

a {
    color: #4e5192;
    transition: all .06s ease-in-out;
    text-decoration: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid transparent;
}

a:hover { color: #5c5fb1; border-color: #3d3f80; }