@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
.fade-in { animation: fade-in 0.25s; }
h1 { font-weight: 400; }

body { font-family: 'Fira Mono', monospace; background: #f7f7f7; color: #424242; }
hr { border: 0; margin: 0; height: 1px; background: rgba(0, 0, 0, 0.1); }
.main-content { padding: 2rem; }

a {
    color: #4e5192;
    transition: all .06s ease-in-out;
    text-decoration: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid transparent;
}

a:hover { color: #5c5fb1; border-color: #3d3f80; }

.light-subdue { color: #9b9b9b; }

pre { padding: 2em; overflow-x: auto; }
code:not([class]) { font-size: 16px; background: #363636; color: white; padding: 0.15em 0.3em; margin: 0 0.2em; }

.page-content h1 { font-size: 2em;grid-row:  }

.page-content p,
.page-content ul,
.page-content table {
    font-family: 'Georgia', serif;
    font-size: 17px;
    line-height: 28.5px;
}

.page-content img {
    max-width: 85%;
    display: block;
    margin: 2em auto 2em auto;
    border: 3px solid #dedede;
}

.controls { position: fixed; top: 0; right: 0; opacity: 0; }
.controls:hover { opacity: 1; }

@media (max-width: 768px) {
    .main-content { padding: 0.9rem; }

    .page-content p,
    .page-content ul,
    .page-content table {
        font-size: 16px;
        line-height: 26.5px;
    }

    .page-content img {
        max-width: 100%;
    }
}