@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

html {
  overflow-y: scroll;
}

body {
	background-color: #f7f7f7;
	padding: 50px;
	font-weight: 400;
	color: #606060;
	font-family: "Merriweather", Cambria, serif;

}

.wrapper {
	width: 780px;
	padding: 20px;
	margin: 0 auto;
}

.gitlink {
  font-size: 11px;
}

.pagination {
  margin-top: 64px;
  padding: 4px;
  transition: background-color .35s ease-in-out;
  -moz-transition: background-color .35s ease-in-out;
  -webkit-transition: background-color .35s ease-in-out;
}

.pagination:hover{
  background-color: #eaeaea;
  transition: background-color .35s ease-in-out;
  -moz-transition: background-color .35s ease-in-out;
  -webkit-transition: background-color .35s ease-in-out;
}

.img-container { text-align: center; margin: 10px 0px; }

.post {
  margin-bottom: 36px;
}

.blog_title {
  /*background-color: #eaeaea;*/
  padding: 16px 8px;
  transition: background-color .35s ease-in-out;
  -moz-transition: background-color .35s ease-in-out;
  -webkit-transition: background-color .35s ease-in-out;
}

  .blog_title h1, h2 {
    line-height: 0px;
    font-weight: bold;
  }

  .blog_title:hover {
    background-color: #eeeeee;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
  }

section {
	padding-bottom: 20px;
}
  section .blog_title {
    font-size: 14px;
    font-weight: 100;
  }

  section .post {
    font-weight: 400;
    line-height: 1.5em;
  }

	section img, iframe {
    max-width: 100%;
		border: 5px solid #eaeaea;
		margin: 0px auto 0px auto;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	section p{
		margin-left: 8px;
	}

	section .desc {
		font-size: 12px;
	}

footer {
/*	float: left;
	position: fixed;
	bottom: 30px;*/
}

small {
	font-size: 10px;
}

header {
  margin: 0 auto 35px auto;
/*	width: 200px;
	float: left;
	position: fixed;*/
}

#title {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}

  #title a {
    color: #777777;
    transition: color .35s ease-in-out;
      -moz-transition: color .35s ease-in-out;
      -webkit-transition: color .35s ease-in-out;
  }

  #title a:hover {
    color: #1e5978;
    transition: color .35s ease-in-out;
      -moz-transition: color .35s ease-in-out;
      -webkit-transition: color .35s ease-in-out;
  }

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline;
  margin: 0 10px 0 10px;
}

h1,h2,h3 {
	font-weight: 400;
	color: #404040;
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
}

h1 a {
	color: #39c;
	transition: color .35s ease-in-out;
 		-moz-transition: color .35s ease-in-out;
 		-webkit-transition: color .35s ease-in-out;
}

	h1 a:hover {
		color: #1e5978;
		transition: color .35s ease-in-out;
   		-moz-transition: color .35s ease-in-out;
   		-webkit-transition: color .35s ease-in-out;
	}

a {
	color: #39c;
	text-decoration: none;
	transition: color .35s ease-in-out;
   	-moz-transition: color .35s ease-in-out;
   	-webkit-transition: color .35s ease-in-out;
}

a:hover {
	color: #1e5978;
	transition: color .35s ease-in-out;
   -moz-transition: color .35s ease-in-out;
   -webkit-transition: color .35s ease-in-out;
}

hr {
	border:0;
  background:#e5e5e5;
  height:1px;
  margin:0;
}

svg:not(:root) {
  overflow: hidden; 
}

/* CSS @media calls */

@media print, screen and (max-width: 1120px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
/*  header, section, footer {
    float:none;
    position:static;
    width:auto;
    height: auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  */
  header a small {
    display:inline;
  }
  
/*  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}

@media print, screen and (max-width: 800px) {
  body {
    word-wrap:break-word;
  }

  .blog_title h1, h2 {
    line-height: normal;
  }

  #title {
    float: left;
    line-height: 20px;
  }

 .nav-toggle {
    float: right;
    font-size: 28px;
    line-height: 22px;
 }

 .nav-collapse, .nav-collapse ul, .nav-collapse li {
    margin: 0;
    padding: 0;
 }

 .nav-collapse {
    display: block;
    top: 15px;
    width: 100%;
 }

 .nav-collapse ul {
    width: 100%;
 }

 .nav-collapse li {
    width: 100%;
    background-color: #eeeeee;
    display: block;
    padding: 0;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
 }

 .nav-collapse li:hover {
    background-color: #eaeaea;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
 }

 .nav-collapse a {
    padding: 18px;
    display: block;
 }

/*  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }*/
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 20px 0 0 0;
  }

  div.wrapper {
    padding: 5px;
  }

  #main p {
    font-size: 14px;
  }
  
/*  header ul {
    display:none;
  }*/
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}