extends ../layout.pug

block links
    link(rel='stylesheet' href='/css/main.css')

block content
    .max-width-3.mx-auto.p3
        div
            h1(style='font-weight: 400') 
                a(href='/') kevin f.
                
        hr
        div
            h3
                a(href='https://kevinfiol.com/otto') otto
            p A JavaScript autocomplete library built on a single ~1kb dependency (Hyperapp). Available on NPM.

            h3
                a(href='https://github.com/kevinfiol/enhanced-gog') enhanced-gog
            p A userscript for GOG.com that aims to improve the overall browsing experience by automatically finding and displaying current and historically lowest prices for games across multiple online stores. Built with Hyperapp.

            h3
                a(href='https://github.com/kevinfiol/its-drm-free') it's drm free
            p A userscript for Steampowered.com that finds and displays latest prices from DRM-free storefronts. Built with Polymer Project's lit-html.

            h3
                a(href='https://fireblog.now.sh/') fireblog
            p A mini-blogging SPA solution powered by Google Firebase Realtime Database that allows for multiple user registration. Built with Mithril.js.

            h3
                a(href='https://gitlab.com/kevinfiol/lastfm-artists-userscript') last.fm userscript
            p A userscript for Last.fm to add a 'Compare Artists' functionality to user profiles. Built with Hyperapp.

            h3
                a(href='https://sfn.herokuapp.com/') steam friend night
            p A web app based on the Steam Web and Storefront API, used to find what multiplayer games you and your friends have in common. Built with Mithril.js, Flask, and PostgreSQL.

            h3
                a(href='https://gitlab.com/kevinfiol/fuzzget/') fuzzget
            p A fuzzy search library for PHP. implements multiple text-search algorithms. Available on Packagist via Composer.

            h3
                a(href='https://keb.itch.io/parasite') parasite
            p A game / interactive poem created for a Literary Studies course. Includes a brief essay on its meaning and inspiration.