<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta charset='utf-8'> 
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="chromesniffer" id="chromesniffer_meta" content="{"jQuery":1.6.2"}">
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon2.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive-nav.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/js/highlight/styles/tomorrow-night-eighties.min.css">
	<link href="{{ site.baseurl }}/css/styles.css" type="text/css" rel="stylesheet" />
	<script src="{{ site.baseurl }}/js/responsive-nav.min.js"></script>
	<script src="{{ site.baseurl }}/js/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

<div class="wrapper">
	<header>
		<h1 id="title"><a href="{{ site.baseurl }}/">keb's site</a></h1>
		<a href="#" class="nav-toggle" aria-hidden="false">☰</a>
		<nav class="nav-collapse">
			<ul class="nav">
				<li><a href="{{ site.baseurl }}/about.html">about</a></li>
				<li><a href="http://github.com/kevinfiol/">github</a></li>
				<li><a href="https://drive.google.com/file/d/0B4bGU-voZesnSXE0d1JESm1wRjA/view?usp=sharing">résumé</a></li>
				<li><a href="{{ site.baseurl }}/archive.html">archive</a></li>
			</ul>
		</nav>
	</header>