extends ../layout.pug

block links
    link(rel='stylesheet' href='/css/resume.css')

block content
    .download-pdf
        a(href='/resume/kevinfiol_resume.pdf') Save as PDF
    .resume !{resumeHtml}