<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="kevin f.'s personal site" />
        <link rel="shortcut icon" href="{{ get_url(path="/img/favicon.png") }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ get_url(path="/css/main.css") }}" />
        {% block links %}
        {% endblock %}

        {% block rss %}
          <link rel="alternate" type="application/atom+xml" title="feed" href='{{ get_url(path="atom.xml", trailing_slash=false) }}'>
        {% endblock %}
        <title>
            {% if section.title %}
                {{ section.title }}
            {% elif page.title %}
                {{ page.title }}
            {% else %}
                {{ config.title }}
            {% endif %}
        </title>
    </head>

    <body>
        <input id="dark-checkbox" type="checkbox" aria-hidden="true" />
        <label class="dark-btn" for="dark-checkbox" aria-hidden="true">🌒</label>
        <main>
            <div class="main-content max-width-3 mx-auto">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>